<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <!-- Define a Console Appender -->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <!-- Standard readable log format string -->
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- Specific package logging level (Optional) -->
    <logger name="com.zos.auth.service.AuthService" level="INFO"/>

    <!-- Root Logger Level (Applies to everything else) -->
    <root level="INFO">
        <appender-ref ref="STDOUT" />
    </root>

</configuration>
